/*style for section B*/
#section-b .row{
       margin-top: 30px;
}
#section-b .card img:hover{
    opacity: 0.2;
}
#section-b .card img{
    width: 100%;
    height: 200px;
   }
#section-b .card:hover {
    box-shadow: 3px 3px 3px 3px #eddc3a;
}
/*Style for section C*/
#section-c{
       margin-top: 15px;

}
#section-c #section-c-left{
    padding: 20px;
    font-family: monospace;
    font-weight: bold;
    text-align: center;
    height: 50vh;

}
#section-c #section-c-right{
    background-image: url("../images/download.jpg");
    padding: 20px;
   color: white;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;
}
/*.auth-img{*/
/*    width: 15px;*/
/*    height: auto;*/
/*}*/

/*!*signup section*!*/
/*#signup-section fieldset{*/
/*    margin-top: 30px;*/
/*    border: 2px rgba(0, 0, 0, 0.26) solid;*/
/*    !*background-color: rgba(226, 62, 0, 0.21);*!*/
/*    padding: 20px;*/
/*    border-radius: 15px;*/
/*    font-family: monospace;*/
/*    box-shadow: 3px 3px 3px 3px rgba(255, 255, 0, 0.32);*/
/*}*/
/*#signup-section fieldset img{*/
/*    !*border: 3px solid rgba(0, 0, 122, 0.85);*!*/
/*    border-radius: 50%;*/
/*    text-align: center;*/
/*    margin-left: 100px;*/
/*}*/

#signup-section fieldset, #login-section fieldset{
    margin-top: 30px;
    border: 2px rgba(0, 0, 0, 0.26) solid;
    /*background-color: rgba(226, 62, 0, 0.21);*/
    padding: 20px;
    border-radius: 15px;
    font-family: monospace;
    box-shadow: 3px 3px 3px 3px rgba(255, 255, 0, 0.32);
}
#signup-section fieldset img,#login-section fieldset img{
    /*border: 3px solid rgba(0, 0, 122, 0.85);*/
    border-radius: 50%;
    text-align: center;
    margin-left: 170px;
}

/*about page*/
#section-about .bg-image{
    /*background-color: #0f6674;*/
    background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),url("../images/images (1)-about.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 60vh;
    width: 100%;
    padding: 100px;
    text-align: center;
    font-family: monospace;
    font-weight: bold;
    color: white;
}
.container{
    padding: 15px;
    /*background-color: rgba(255, 255, 0, 0.15);*/
}
.container .jumbotron{
    padding: 10px;
    background-color: #f9ba0c;
}